{
  "openapi": "3.0.0",
  "info": {
    "title": "Celsius API",
    "version": "1.0",
    "description": "Celsius Mobile API Documentation"
  },
  "servers": [
    {
      "url": "https://celsiuspop.com",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/v1/auth/forgot-password": {
      "post": {
        "summary": "Forgot Password",
        "description": "Sends a generic 6-digit OTP to the email if it exists.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent (always returns 200 for security)"
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "summary": "User Login (Password)",
        "description": "Authenticate using Email or Phone + Password.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "identifier",
                  "password"
                ],
                "properties": {
                  "identifier": {
                    "type": "string",
                    "description": "Registered Email OR Phone Number",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "User's password",
                    "example": "securePass123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful. Returns User object and sets 'session_token' cookie."
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "summary": "Logout",
        "description": "Clears the session cookie.",
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "Logged out successfully"
          }
        }
      }
    },
    "/api/v1/auth/me": {
      "get": {
        "summary": "Get Current User Profile",
        "description": "Returns the currently logged-in user's details based on the session cookie.",
        "tags": [
          "Auth"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "fullName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        }
      }
    },
    "/api/v1/auth/request-login-otp": {
      "post": {
        "summary": "Request Login OTP (Passwordless)",
        "description": "Sends an OTP to the registered email for passwordless login.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/v1/auth/request-otp": {
      "post": {
        "summary": "Register - Step 1 (Request OTP)",
        "description": "Initiates registration by sending an OTP. **IMPORTANT:** Currently, OTPs are sent ONLY via Email.  Do not expect SMS even if phone number is collected later.\n",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The user's email address (OTP will be sent here)",
                    "example": "newuser@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully"
          },
          "400": {
            "description": "Invalid input OR referrer's invite slots are full (reason - HEAVEN1_COMPLETE or SLOTS_FULL)"
          },
          "409": {
            "description": "Account already exists with this phone/email"
          }
        }
      }
    },
    "/api/v1/auth/reset-password": {
      "post": {
        "summary": "Forgot Password - Step 3 (Reset)",
        "description": "Resets the user's password using the verified OTP.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "otp",
                  "newPassword"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "description": "The valid OTP is required again for security",
                    "example": "123456"
                  },
                  "newPassword": {
                    "type": "string",
                    "example": "NewSecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Password reset successfully"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/v1/auth/set-password": {
      "post": {
        "summary": "Register - Step 3 (Set Password)",
        "description": "Finalize registration by setting the password using the verification token from Step 2.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verificationToken",
                  "password"
                ],
                "properties": {
                  "verificationToken": {
                    "type": "string",
                    "description": "The JWT token received from /verify-otp"
                  },
                  "password": {
                    "type": "string",
                    "description": "New password (min 8 chars, 1 upper, 1 lower, 1 number, 1 special)",
                    "example": "SecurePass123!"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created and logged in successfully"
          },
          "400": {
            "description": "Password requirements not met"
          },
          "401": {
            "description": "Invalid or expired token"
          }
        }
      }
    },
    "/api/v1/auth/verify-otp": {
      "post": {
        "summary": "Register - Step 2 (Verify OTP)",
        "description": "Verify the code sent to the user's email.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "otp"
                ],
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "description": "The 6-digit code received via Email",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email verified successfully"
          },
          "400": {
            "description": "Invalid or expired OTP"
          }
        }
      }
    },
    "/api/v1/auth/verify-reset-otp": {
      "post": {
        "summary": "Forgot Password - Step 2 (Verify OTP)",
        "description": "Verifies the OTP sent to the email during password recovery.",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "otp"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP verified successfully"
          },
          "400": {
            "description": "Invalid OTP"
          }
        }
      }
    },
    "/api/v1/cart": {
      "get": {
        "summary": "Get Cart Items",
        "description": "Retrieves the current user's cart with details (images, variants, stock).",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cart details"
          }
        }
      },
      "post": {
        "summary": "Add Item to Cart",
        "description": "Adds a product (and optional variant) to the cart.",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productId",
                  "quantity"
                ],
                "properties": {
                  "productId": {
                    "type": "string",
                    "description": "CUID of the product"
                  },
                  "variantId": {
                    "type": "string",
                    "description": "(Optional) CUID of the specific variant (size/color)"
                  },
                  "quantity": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item added successfully and returns updated cart"
          }
        }
      },
      "put": {
        "summary": "Update Cart Quantity",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productId",
                  "quantity"
                ],
                "properties": {
                  "productId": {
                    "type": "string"
                  },
                  "variantId": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "integer",
                    "description": "New total quantity (must be > 0)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart updated"
          },
          "400": {
            "description": "Stock limit exceeded or invalid quantity"
          }
        }
      },
      "delete": {
        "summary": "Remove Item from Cart",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productId"
                ],
                "properties": {
                  "productId": {
                    "type": "string",
                    "description": "The 'productId' or 'productId-variantId' composite ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Item removed"
          }
        }
      }
    },
    "/api/v1/cart/validate": {
      "post": {
        "summary": "Validate Cart Items",
        "description": "Validates a list of product IDs to check if they still exist, \nare not archived, and are in stock. Use this before checkout \nto ensure all cart items are still available for purchase.\n\n**Use Case:** Mobile app should call this on Cart Screen load and before checkout.\n",
        "tags": [
          "Cart"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productIds"
                ],
                "properties": {
                  "productIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Array of product IDs to validate",
                    "example": [
                      "clk1234abcd",
                      "clk5678efgh"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "validItems": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Product IDs that are valid and available"
                    },
                    "invalidItems": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productId": {
                            "type": "string"
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "DELETED",
                              "ARCHIVED",
                              "OUT_OF_STOCK"
                            ]
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing or invalid productIds array)"
          },
          "500": {
            "description": "Server error during validation"
          }
        }
      }
    },
    "/api/v1/categories": {
      "get": {
        "summary": "List all Categories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "A list of categories"
          }
        }
      }
    },
    "/api/v1/collections": {
      "get": {
        "summary": "List all Collections",
        "description": "Returns top-level collections (e.g. Gift Sets, Perfumes)",
        "tags": [
          "Collections"
        ],
        "responses": {
          "200": {
            "description": "A list of collections"
          }
        }
      }
    },
    "/api/v1/content/{section}": {
      "get": {
        "summary": "Get Site Content (Banners)",
        "description": "Fetch dynamic content like Home Banners or About Us text.",
        "tags": [
          "Content"
        ],
        "parameters": [
          {
            "name": "section",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "home_sections",
                "home_about",
                "global_settings"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "JSON content object"
          }
        }
      }
    },
    "/api/v1/coupon/validate": {
      "post": {
        "summary": "Validate Coupon Code",
        "description": "Validates a coupon code and calculates the discount amount. If user is logged in, also checks if coupon was already used by this customer (one-time use per user).",
        "tags": [
          "Coupons"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "cartTotal"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The coupon code to validate",
                    "example": "SUMMER20"
                  },
                  "cartTotal": {
                    "type": "number",
                    "description": "Current cart total before discount",
                    "example": 9750
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Coupon validated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "coupon": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "code": {
                          "type": "string",
                          "example": "SUMMER20"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "PERCENT",
                            "FIXED"
                          ],
                          "example": "PERCENT"
                        },
                        "value": {
                          "type": "number",
                          "example": 10
                        },
                        "discountAmount": {
                          "type": "number",
                          "example": 975
                        },
                        "finalTotal": {
                          "type": "number",
                          "example": 8775
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, coupon inactive, or minimum amount not met"
          },
          "404": {
            "description": "Coupon code not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/network/claim": {
      "get": {
        "summary": "Fetch user's existing reward claims",
        "tags": [
          "MLM Network"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of reward claims"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "summary": "Claim a level reward",
        "tags": [
          "MLM Network"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "level"
                ],
                "properties": {
                  "level": {
                    "type": "integer",
                    "enum": [
                      1,
                      3,
                      5,
                      7
                    ],
                    "description": "The Heaven level to claim reward for (1, 3, 5, 7)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Reward claimed successfully"
          },
          "400": {
            "description": "Invalid level"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Level not completed yet"
          },
          "404": {
            "description": "User not found"
          },
          "409": {
            "description": "Reward already claimed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/network/graph": {
      "get": {
        "summary": "Get Network Galaxy Graph",
        "description": "Returns a recursive tree structure for D3.js or React Flow visualization. **Structure:** Node -> Children[] -> Children[] (up to 7 levels deep).\n",
        "tags": [
          "Network"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "targetUserId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "(Admin Only) View a specific user's galaxy."
          }
        ],
        "responses": {
          "200": {
            "description": "Recursive tree object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "level": {
                      "type": "integer"
                    },
                    "children": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Recursive Order Node"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/network": {
      "get": {
        "summary": "Get Network Dashboard",
        "description": "Returns the user's MLM dashboard data, including level progress (1-7), total team size,  and direct referral list.\n",
        "tags": [
          "Network"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fullName": {
                      "type": "string"
                    },
                    "referralCode": {
                      "type": "string"
                    },
                    "totalTeamSize": {
                      "type": "integer"
                    },
                    "levels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "level": {
                            "type": "integer"
                          },
                          "count": {
                            "type": "integer"
                          },
                          "target": {
                            "type": "integer"
                          },
                          "isCompleted": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "directReferrals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "joinedAt": {
                            "type": "string",
                            "format": "date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/fetch": {
      "get": {
        "summary": "Get Notifications",
        "description": "Fetch last 50 notifications for the user.",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications + unread count"
          }
        }
      }
    },
    "/api/v1/notifications/register": {
      "post": {
        "summary": "Register device for notifications",
        "tags": [
          "Notifications"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "minLength": 10
                  },
                  "platform": {
                    "type": "string",
                    "enum": [
                      "ANDROID",
                      "IOS",
                      "WEB"
                    ],
                    "default": "ANDROID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device registered for notifications"
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/notify-me": {
      "post": {
        "summary": "Subscribe to collection launch notification",
        "tags": [
          "Notifications"
        ]
      }
    },
    "/api/v1/orders/cancel": {
      "post": {
        "summary": "Cancel Order",
        "description": "Cancels an active order if it is not yet delivered/shipped.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId"
                ],
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string",
                    "example": "Changed my mind"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled successfully"
          },
          "400": {
            "description": "Order cannot be cancelled (e.g. already delivered)"
          }
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "summary": "Get Order History",
        "description": "Returns a list of past orders for the logged-in user.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders with items"
          }
        }
      },
      "post": {
        "summary": "Place Order (Checkout)",
        "description": "Creates a new order. This is the **Checkout** endpoint.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "items",
                  "shippingDetails"
                ],
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "string"
                        },
                        "quantity": {
                          "type": "integer"
                        },
                        "variantId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "shippingDetails": {
                    "type": "object",
                    "properties": {
                      "fullName": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "fullAddress": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "pincode": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  },
                  "mlmOptIn": {
                    "type": "boolean",
                    "description": "If true, user becomes a 7th Heaven Member"
                  },
                  "referrerCode": {
                    "type": "string",
                    "description": "Optional referral code from existing 7th Heaven member"
                  },
                  "couponCode": {
                    "type": "string",
                    "nullable": true,
                    "description": "Coupon code to apply (one-time use per customer)"
                  },
                  "discountAmount": {
                    "type": "number",
                    "description": "Pre-calculated discount amount"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order placed successfully. If mlmSkipped is true, invite code was valid but referrer's slots were full — order still succeeds.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "totalAmount": {
                      "type": "number"
                    },
                    "mlmSkipped": {
                      "type": "boolean",
                      "description": "Present and true if MLM opt-in was skipped due to full slots"
                    },
                    "mlmSkipReason": {
                      "type": "string",
                      "description": "Human-readable reason why MLM opt-in was skipped"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Coupon already used, invalid items, or out of stock"
          }
        }
      }
    },
    "/api/v1/orders/track": {
      "post": {
        "summary": "Track Order",
        "description": "Track an order using Order ID. Phone or Email is optional if the user is logged in.",
        "tags": [
          "Orders"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId"
                ],
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order details found"
          },
          "400": {
            "description": "Verification details required (if not logged in) or invalid request"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/api/v1/payment/callback": {
      "post": {
        "summary": "Payment Callback (PayU)",
        "description": "Handles the server-to-server callback from PayU after a transaction. Verifies the hash and completes the order.",
        "tags": [
          "Payment"
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "status",
            "type": "string",
            "description": "Transaction status (success/failure)"
          },
          {
            "in": "formData",
            "name": "txnid",
            "type": "string",
            "description": "Transaction ID"
          },
          {
            "in": "formData",
            "name": "hash",
            "type": "string",
            "description": "Security hash for verification"
          }
        ],
        "responses": {
          "303": {
            "description": "Redirects to the payment status page"
          },
          "400": {
            "description": "Invalid hash or missing data"
          },
          "404": {
            "description": "Order not found"
          }
        }
      }
    },
    "/api/v1/payment/initiate": {
      "post": {
        "summary": "Initiate Payment (PayU)",
        "description": "Generates a secure hash and transaction ID for PayU.  Returns the parameters required to submit the PayU form from the client side.\n",
        "tags": [
          "Payment"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId"
                ],
                "properties": {
                  "orderId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment initialized successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "payuParams": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "txnid": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "string"
                        },
                        "productinfo": {
                          "type": "string"
                        },
                        "firstname": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "surl": {
                          "type": "string"
                        },
                        "furl": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        }
                      }
                    },
                    "actionUrl": {
                      "type": "string",
                      "description": "The PayU URL to submit the form to (Test/Live)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request (Missing Order ID or Incomplete User Profile)"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/payment/status/{transactionId}": {
      "get": {
        "summary": "Get Payment Status",
        "description": "Retrieves the current status of a payment transaction and order details.",
        "tags": [
          "Payment"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "transactionId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The transaction ID from payment gateway",
            "example": "TEST-1770545426492"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "order": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Order ID"
                        },
                        "paymentStatus": {
                          "type": "string",
                          "enum": [
                            "PENDING",
                            "PAID",
                            "FAILED"
                          ],
                          "example": "PAID"
                        },
                        "subtotal": {
                          "type": "number",
                          "description": "Original cart total",
                          "example": 9750
                        },
                        "netAmountPaid": {
                          "type": "number",
                          "description": "Final amount after discount",
                          "example": 8775
                        },
                        "discount": {
                          "type": "number",
                          "description": "Discount amount applied",
                          "example": 975
                        },
                        "couponCode": {
                          "type": "string",
                          "nullable": true,
                          "example": "SUMMER20"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "quantity": {
                                "type": "integer"
                              },
                              "priceAtPurchase": {
                                "type": "number"
                              },
                              "size": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "shippingAddress": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "type": "string"
                            },
                            "fullAddress": {
                              "type": "string"
                            },
                            "city": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "pincode": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            }
                          }
                        },
                        "mlmOptInRequested": {
                          "type": "boolean",
                          "description": "Whether user opted for 7th Heaven"
                        },
                        "user": {
                          "type": "object",
                          "properties": {
                            "fullName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "isGuest": {
                              "type": "boolean",
                              "description": "True if user has no password set (guest checkout)",
                              "example": true
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/products/{productId}/reviews": {
      "get": {
        "summary": "Get reviews for a product",
        "tags": [
          "Reviews"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of reviews"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Submit a review for a product",
        "tags": [
          "Reviews"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review submitted successfully"
          },
          "400": {
            "description": "Invalid input or already reviewed"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Product not found"
          }
        }
      },
      "put": {
        "summary": "Update an existing review",
        "tags": [
          "Reviews"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rating"
                ],
                "properties": {
                  "rating": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Review updated successfully"
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Review not found"
          }
        }
      },
      "delete": {
        "summary": "Delete a review",
        "tags": [
          "Reviews"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Review not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/v1/products/{id}": {
      "get": {
        "summary": "Get Product by ID",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details"
          }
        }
      }
    },
    "/api/v1/products/club": {
      "get": {
        "summary": "Get Club Products (7th Heaven Scheme)",
        "description": "Returns products tagged as \"For 7th Heaven\" by admin. Only products with `isFor7thHeaven: true`, in stock, and not archived are returned. Additionally filtered by price <= admin-configured limit (default: ₹4000).\n",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "List of 7th Heaven tagged products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "maxPriceLimit": {
                      "type": "number",
                      "description": "The current price cap set by admin",
                      "example": 4000
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "category": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          },
                          "variantId": {
                            "type": "string",
                            "nullable": true
                          },
                          "size": {
                            "type": "string"
                          },
                          "discountPercentage": {
                            "type": "number"
                          },
                          "isBestSeller": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/products": {
      "get": {
        "summary": "Fetch all products with filters",
        "description": "Retrieve a paginated list of products. Supports filtering by collection (e.g., Gift Sets), category (e.g., For Him), gender, and price.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term for product name or description"
          },
          {
            "name": "collectionSlug",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by Parent Collection Slug (e.g., 'gift-sets'). Use this for the main listing page."
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by Category Slug (e.g., 'for-him') or ID. Can be comma-separated."
          },
          {
            "name": "gender",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Men",
                "Women",
                "Unisex"
              ]
            },
            "description": "Filter by gender tag"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "price_asc",
                "price_desc",
                "name_asc"
              ]
            },
            "description": "Sorting order"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "totalPages": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/products/slug/{slug}": {
      "get": {
        "summary": "Get Product by Slug",
        "description": "Fetch detailed product info including variants and related products via URL slug.",
        "tags": [
          "Products"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "midnight-rose-perfume"
          }
        ],
        "responses": {
          "200": {
            "description": "Product details + Related Products"
          }
        }
      }
    },
    "/api/v1/profile": {
      "get": {
        "summary": "Get Full Profile",
        "description": "Returns detailed profile info including address and referral code.",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data"
          }
        }
      },
      "post": {
        "summary": "Request Email Update OTP",
        "description": "Request OTP to verify EMAIL change. (Phone updates do not happen here anymore).",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "value"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "email"
                    ],
                    "description": "Only 'email' is supported for OTP requests now."
                  },
                  "value": {
                    "type": "string",
                    "description": "New email address to verify."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OTP sent successfully"
          },
          "400": {
            "description": "Email already in use or invalid parameters"
          }
        }
      },
      "put": {
        "summary": "Update Profile",
        "description": "Update profile details.  **Note:** Changing Email requires `otp` and `email`.  Changing Phone does NOT require OTP anymore. Changing Password requires `currentPassword`.\n",
        "tags": [
          "Profile"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fullName": {
                    "type": "string"
                  },
                  "fullAddress": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "pincode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Direct update allowed (No OTP needed)."
                  },
                  "email": {
                    "type": "string",
                    "description": "Requires OTP if changed."
                  },
                  "otp": {
                    "type": "string",
                    "description": "Required ONLY if changing email."
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "currentPassword": {
                    "type": "string",
                    "description": "Required if setting newPassword"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          },
          "400": {
            "description": "OTP required/invalid or Email/Phone already in use"
          }
        }
      }
    },
    "/api/v1/referral/validate": {
      "post": {
        "summary": "Validate Referral Code",
        "description": "Validates a referral code by checking if it belongs to an active 7th Heaven member.",
        "tags": [
          "7th Heaven"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The referral code to validate",
                    "example": "7H-LPY75W"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invite code is valid and slots are available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Valid invite code"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Code is valid but slots are full (HEAVEN1_COMPLETE or SLOTS_FULL)"
          },
          "404": {
            "description": "Invalid or inactive invite code"
          }
        }
      }
    },
    "/api/v1/settings": {
      "get": {
        "summary": "Get MLM Settings",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "MLM settings retrieved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/site-settings": {
      "get": {
        "summary": "Get Site Settings",
        "tags": [
          "Settings"
        ],
        "responses": {
          "200": {
            "description": "Site settings retrieved successfully"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/tickets": {
      "get": {
        "summary": "Get Support Tickets",
        "tags": [
          "Support"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickets"
          }
        }
      },
      "post": {
        "summary": "Create Support Ticket",
        "tags": [
          "Support"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "category",
                  "message"
                ],
                "properties": {
                  "subject": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "Order Issue",
                      "Payment",
                      "Product",
                      "Other"
                    ]
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ticket created"
          }
        }
      }
    },
    "/api/v1/wishlist/{productId}": {
      "delete": {
        "summary": "Remove a product from wishlist",
        "tags": [
          "Wishlist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Product ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Removed from wishlist"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Wishlist not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/v1/wishlist": {
      "get": {
        "summary": "Get Wishlist",
        "tags": [
          "Wishlist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of wishlist items"
          }
        }
      },
      "post": {
        "summary": "Add to Wishlist",
        "tags": [
          "Wishlist"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "productId"
                ],
                "properties": {
                  "productId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added to wishlist"
          },
          "400": {
            "description": "Already in wishlist"
          }
        }
      }
    },
    "/api/webhooks/shipquickr": {
      "post": {
        "summary": "Shipquickr Webhook",
        "description": "Receives order status updates and AWB tracking info from Shipquickr",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId",
                  "event"
                ],
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "event": {
                    "type": "string"
                  },
                  "awb": {
                    "type": "string"
                  },
                  "courierUrl": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          },
          "400": {
            "description": "Missing required fields"
          },
          "404": {
            "description": "Order not found"
          },
          "500": {
            "description": "Internal Server Error processing webhook"
          }
        }
      }
    }
  },
  "tags": []
}